.container{
    background-color: #880088;
}
.img{
    width: 150px;
    height: 150px;
    float: right;
    margin-right: 0;

}
.title {
    color: #00ff00;
    background-color: navy;
}

.section {
    color: #00ff00;
    background-color: #000000;
}

.date {
    color: rgb(112, 105, 105);
}